.movie-detail {
    color: #fff;
    background-color: #121212;
}
.backdrop {
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    position: relative;
}
.info-overlay {
    background: rgba(0,0,0,0.6);
    padding: 1rem;
    border-radius: 10px;
}
.back-btn {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: #222;
    border: none;
    cursor: pointer;
    color: #fff;
}
.cast-card img {
    width: 100px;
    border-radius: 50%;
}
.cast-card p {
    text-align: center;
    font-size: 0.8rem;
}
.trailer iframe {
    margin-top: 1rem;
    border-radius: 10px;
}
.trailer-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.watch-btn {
    padding: 0.7rem 1.2rem;
    background: #e50914;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
}

.watch-btn:hover {
    background: #f6121d;
}
